/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TYPOGRAPHY*/

.sometype-mono-uniquifier> {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.edu-tas-beginner-uniquifier> {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* BODY */
body {
  margin: 0;
  background: url('../IMG/cork.png');
  background-size: cover;
  color: rgb(51, 51, 51);
}

/* HEADER */
header {
  background: url('../IMG/wall.png');
  background-size: cover;
  padding: 20px 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: bold;
  font-family: "Edu TAS Beginner", cursive;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
}

.card {
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2px;
  overflow: hidden;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*PIN*/
.card .pin {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  z-index: 10;
}

/* CARD IMAGE */
.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* CARD CONTENT */
.card-content {
  padding: 10px;
}

.card-content h3 {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 1.2em;
  margin: 10px 0;
}

.card-content p {
  font-family: "Sometype Mono", monospace;
  font-size: 0.9em;
  color: rgb(102, 102, 102);
}